<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="" (click)="getAllContacts()">Contactos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  
              data-bs-toggle="modal" data-bs-target="#modalNuevo" href="#">Nuevo</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Search" #nameToSearch>
          <button class="btn btn-outline-success" type="submit" (click)="getOneContact(nameToSearch.value)">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
</div>

<div>
  <h1 style="text-align: center;">Libreta de contactos</h1>
</div>

<div class="container">



  <div class="accordion" id="accordionExample">

    <div class="accordion-item">
      <app-contact *ngFor="let contacto of contactoList; index as i" [contacto]="contacto" [i]="i" (eventContactComponent)="getAllContacts()"></app-contact>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle"
  data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Crear nuevo contacto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">

        <form id="idFormCreate" autocomplete="on" [formGroup]="formCreate">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Nombre" formControlName="nombre">
            <div *ngIf="formCreate.get('nombre')?.hasError('required') && formCreate.pristine === false">El nombre es
              requerido</div>
            <label for="floatingInput">Nombre</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingPassword" placeholder="Número de celular" formControlName="celular">
            <div *ngIf="formCreate.get('celular')?.hasError('required') && formCreate.pristine === false">El número de celular es
              requerido</div>
            <label for="floatingPassword">Celular</label>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" form="idFormCreate" class="btn btn-primary" data-bs-dismiss="modal" (click)="createContact()" [disabled]="formCreate.invalid">Crear</button>
      </div>
    </div>

  </div>

</div>